 
<div class="panel panel-primary">
      <div class="panel-heading">  <%= @list.name %>
     
     <%= link_to "Edit", edit_list_path, class: 'btn btn-success'%>
    <%= link_to "Delete", [@list], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>

  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr> 
      <th> Description </th>
      <th> Days Left to Complete </th>
      <th> Actions </th>
    </tr>
    
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td> <%= item.description %> </td>
        <td> <%= time_ago_in_words(item.created_at + 7.days)%> </td>
        <td>
          <%#= link_to "mark as read", root_url, class: "btn btn-success" %>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-pencil"></span> <%= link_to " Completed", [@list, item], method: :delete %>
           </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


 <%= form_for [@list, @item] do |f| %>
    <%= f.text_field :description, placeholder: "Add Items to List Here" %>
     <%= f.submit "Add", class: 'btn btn-success' %>
 <% end %>

    


 



